body {
  background: #1d1f24 !important;
}

.market-header {
  background-color: #252d42;
  font-weight: bold;
}

.market-header p {
  font-size: 17px;
  color: white;
}

.market-table thead tr td {
  background-color: #242832;
  color: white;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.market-table thead tr td:last-child,
.market-table tbody tr td:last-child {
  text-align: right;
}

.market-table thead tr td button {
  background-color: transparent;
  border: solid #8b8bf7 1px;
  font-size: 14px;
  font-weight: bold;
}

.market-table tbody tr td {
  background-color: #252d42;
  color: white;
  border: 0;
  text-align: center;
}

.market-table tbody tr td:nth-child(1),
.market-table tbody tr td:nth-child(2) {
  border-right: solid #3c3c3c 1px;
}

.market-table tbody tr td .productBtn {
  background-color: #ffa300;
  border-radius: 0px;
  padding: 3px 6px;
}


.market-table tbody tr td .addProductBtn {
  background-color: #8b8bf7;
  color: white;
  font-size: 15px;
}

.modal .modal-content {
  background-color: #1d1f24;
  color: white;
}

input:read-only {
  opacity: 0.6;
}

select:disabled {
  opacity: 0.6 !important;
}

nav{
  background-color: #151d20 !important;
}

nav .currenciesDiv{
  border:solid #8b8bf7 1px;
  padding: 1px 5px;
}